body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  background-color: #f5f5f5;
  color: #333; 
  padding: 20px; 
  text-align: center; 
}

header h1 {
  margin: 0; 
  font-size: 36px;
}

#release-notes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#release-notes h2 {
  text-align: center;
}

#close-release-notes {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 24px;
  color: #555;
  cursor: pointer;
  padding: 0;
}

#close-release-notes:hover {
  color: red;
}

#welcome-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#welcome-screen h1 {
  margin-bottom: 2px;
}

#start-button {
  background-color: #FD8A8A;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 1em;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

#start-button:hover {
  background-color: #f38080;
}

.hidden {
  display: none;
}

#welcome-screen {
  transition: opacity 0.5s ease-in-out;
}

div {
  display: inline-block;
}

canvas {
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ddd;
  cursor: crosshair;
}

label {
  font-size: 20px;
  font-weight: normal;
  margin: 10px 0 5px 0;
  width: 80px;
}

input[type="color"],
input[type="range"] {
  margin: 5px 10px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  transition: background-color 0.3s ease;
}

button::before {
  font-family: "Font Awesome Free";
}

#clear-button {
  background-color: #f44336;
  margin-top: 20px;
}

#clear-button:hover {
  background-color: #d32f2f;
}

#save-button {
  background-color: #4177ff;
  margin-left: 10px;
  margin-top: 20px;
}

#save-button:hover {
  background-color: #2f6ed3;
}

#addTextButton {
  background-color: #84ff41;
  margin-left: 10px;
  margin-top: 20px;
}

#addTextButton:hover {
  background-color: #6bd32f;
}

#tools {
  padding-bottom: 10px;
}

#addCircleButton {
  background-color: #ff4177;
  margin-left: 10px;
  margin-top: 20px;
}

#addCircleButton:hover {
  background-color: #d32f45;
}

#addImageButton {
  background-color: #e616e2;
  margin-left: 10px;
  margin-top: 20px;
}

#addImageButton:hover {
  background-color: #b706ba;
}

